<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <title>React light bulb</title>
  </head>
  <body>
    <div id="demotip">
      <span>?</span>
        Click on a light bulb.
    </div>
    <div id="root"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.min.js'></script>
  </body>
</html>
